
 {% extends 'SiteAdminBundle::layout.html.twig' %}


 {% block content %}
{{ parent() }}

<h1>Links creation</h1>

<form action="{{ path('links_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-primary btn-large">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('links') }}">
            Back to the list
        </a>
    </li>
</ul>
 {% endblock %}