
 {% extends 'SiteAdminBundle::layout.html.twig' %}


 {% block content %}
{{ parent() }}

<h1>Links</h1>

<table class="table table-striped" class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Link</th>
            <td>{{ entity.link }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>Datecreated</th>
            <td>{{ entity.dateCreated|date("m/d/Y")  }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('links') }}">
            <i class="icon-share-alt"></i> Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('links_edit', { 'id': entity.id }) }}">
            edit
        </a>
    </li>
    <li>
        <form action="{{ path('links_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
    </li>
</ul>
 {% endblock %}