{# Toolbar #}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div id="box_slogan" class="pull-left">
                         <p><span class="lead"><a href="{{ path('home')}}">{{ nom_site }}</a></span><br /><span class="italic"><i>{{ slogan }}</i></span></p>
                </div>   
                <a id="scrollTop" class="btn btn-small"><i class="icon-chevron-up"></i>Remonter</a>
                    <div class="nav-collapse collapse">
                        <div class="navbar-text pull-right">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> 
                                {% if app.user.firstname is defined %}
                                            Bonjour <b>{{ app.user.firstname|title|default('Prénom') }} {{ app.user.lastname|title|default('Nom') }}</b>
                                {% endif %}
                                    </a>
                                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('my_account') }}"><i class="icon-edit"></i>  Editer</a></li>
                                        <li><a href="{{ path('parametres') }}"><i class="icon-wrench"></i> Parametres</a></li>
                                        <li><a href="#"><i class="icon-user"></i> Preference</a></li>
                                        <li class="divider"></li>
                                        <li> <a id="logout" href="{{ path('logout') }}"><i class="icon-off"></i>Deconnexion</a> <br /></li>
                                    </ul>
                            </div>
                            {# Slot search #}
                            {% render 'SiteAdminBundle:Slot:search'  %}
                                <div class="btn-group pull-right" id="another_links">
                                    <a class="btn btn-small  dropdown-toggle" data-toggle="dropdown" href="#">
                                        Actions Rapides
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="right dropdown-menu">
                                         {% for subroute in fastactions %}
                                                <li><a href="{{ path(subroute.routing) }}">{{ subroute.label}}</a></li>
                                        {% endfor %}
                                        <li class="divider"></li>
                                        <li><a href="#">Base</a></li>
                                    </ul>
                                </div>
                            </div>
                            <ul class="nav">
                                        {% for param in topmenu %}
                                            {% if loop.first %}
                                                <li class="{% if app.request.attributes.get('_route') == param.routing %}active{% endif %}">
                                                    <a href="{{ path(param.routing) }}"><i class="icon-home"></i> {{ param.label }} </a>
                                                </li>                                 
                                            {% else %}
                                                <li class="{% if param.subrouting is defined %}dropdown {% endif %}{% if app.request.attributes.get('_route') == param.routing %}active{% endif %}">
                                                    <a {% if param.subrouting is defined %}class="dropdown-toggle" data-toggle="dropdown" {% endif %} href="{{ path(param.routing) }}">{{ param.label }}{% if param.subrouting is defined %}<b class="caret"></b>{% endif %}</a>
                                                {% if param.subrouting is defined %}
                                                    <ul class="dropdown-menu">
                                                    {% for subroute in param.subrouting %}
                                                            <li class="{% if app.request.attributes.get('_route') == subroute.routing %}active{% endif %}">
                                                                <a href="{{ path(subroute.routing) }}">{{ subroute.label }}</a>
                                                            </li>  
                                                    {% endfor %}
                                                        </ul>
                                                {% endif %}
                                                    </li>                                 
                                            {% endif %}
                                        {% endfor %}
                            </ul>
                            <div class="pull-right" id="btn_param">
                                <button type="button" class="btn btn-mini" data-toggle="modal" data-target="#myModal">Paramètres</button>
                        </div>
                    </div>
            </div>
    </div>
