
 {% extends 'SiteAdminBundle::layout.html.twig' %}


 {% block content %}
{{ parent() }}


<h1>Categories creation</h1>

<form action="{{ path('categories_create') }}" method="post" {{ form_enctype(form) }}>
        
                {{ form_label(form.title) }}
                {{ form_errors(form.title) }}
                {{ form_widget(form.title) }}  
                
                {{ form_label(form.description) }}
                {{ form_errors(form.description) }}
                {{ form_widget(form.description, { 'attr': {'class': 'textarea'}}) }}
                
                {{ form_label(form.parent) }}
                {{ form_errors(form.parent) }}
                {{ form_widget(form.parent)  }}
                
                {{ form_rest(form) }}
        
    <p>
        <button type="submit" class="btn btn-primary">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('categories') }}">
            <i class="icon-share-alt"></i> Back to the list
        </a>
    </li>
</ul>
 {% endblock %}