<h1>Administrateurs list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Picture</th>
            <th>Description</th>
            <th>Email</th>
            <th>Password</th>
            <th>Optin</th>
            <th>Ip</th>
            <th>Salt</th>
            <th>Token</th>
            <th>Updatedat</th>
            <th>Createdat</th>
            <th>Dateauth</th>
            <th>Enabled</th>
            <th>Accountnonlocked</th>
            <th>Accountnonexpired</th>
            <th>Slug</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('administrateurs_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.firstname }}</td>
            <td>{{ entity.lastname }}</td>
            <td>{{ entity.picture }}</td>
            <td>{{ entity.description }}</td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.password }}</td>
            <td>{{ entity.optin }}</td>
            <td>{{ entity.ip }}</td>
            <td>{{ entity.salt }}</td>
            <td>{{ entity.token }}</td>
            <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.dateAuth %}{{ entity.dateAuth|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.enabled }}</td>
            <td>{{ entity.accountNonLocked }}</td>
            <td>{{ entity.accountNonExpired }}</td>
            <td>{{ entity.slug }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('administrateurs_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('administrateurs_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('administrateurs_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
