
 {% extends 'SiteAdminBundle::layout.html.twig' %}


 {% block content %}
{{ parent() }}

<h1>Articles edit</h1>

<form novalidate="novalidate" action="{{ path('articles_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
                
                {{ form_errors(edit_form) }}
    
                {{ form_label(edit_form.category) }}
                {{ form_errors(edit_form.category) }}
                {{ form_widget(edit_form.category) }}
                    
                {{ form_label(edit_form.title) }}
                {{ form_errors(edit_form.title) }}
                {{ form_widget(edit_form.title) }}
                
                {{ form_label(edit_form.resume) }}
                {{ form_errors(edit_form.resume) }}
                {{ form_widget(edit_form.resume) }}
                
                {{ form_label(edit_form.content) }}
                {{ form_errors(edit_form.content) }}
                {{ form_widget(edit_form.content) }}
                
                {{ form_label(edit_form.notes) }}
                {{ form_errors(edit_form.notes) }}
                {{ form_widget(edit_form.notes, { 'attr': {'class': 'knobed'}}) }}
                
                {{ form_label(edit_form.active) }}
                {{ form_errors(edit_form.active) }}
                {{ form_widget(edit_form.active) }}  
                
                {{ form_rest(edit_form) }}
                
                <p>
        <button type="submit" class="btn">edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('articles') }}">
            <i class="icon-share-alt"></i> Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('articles_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn">Delete</button>
        </form>
    </li>
</ul>

 {% endblock %}