 {% extends 'SiteAdminBundle::layout.html.twig' %}

 {% block content %}
{{ parent() }}

<h1>Articles list</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Categoryid</th>
            <th>Resume</th>
            <th>Content</th>
            <th>Tag</th>
            <th>Datecreated</th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('articles_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.categoryId }}</td>
            <td>{{ entity.resume }}</td>
            <td>{{ entity.content }}</td>
            <td>{{ entity.tag }}</td>
            <td>{{ entity.dateCreated }}</td>
            <td>{{ entity.active }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('articles_show', { 'id': entity.id }) }}">show {{ entity.id  }}</a>
                    </li>
                    <li>
                        <a href="{{ path('articles_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('articles_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
 {% endblock %}
