
 {% extends 'SiteAdminBundle::layout.html.twig' %}


 {% block content %}
{{ parent() }}

<h1>Articles</h1>

<table class="record_properties table table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Resume</th>
            <td>{{ entity.resume }}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ entity.content }}</td>
        </tr>
        <tr>
            <th>Tag</th>
            <td>{{ entity.tag }}</td>
        </tr>
        <tr>
            <th>Datecreated</th>
            <td>{{ entity.dateCreated|date("m/d/Y") }}</td>
        </tr>
        <tr>
            <th>Active</th>
            <td>{{ entity.active }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('articles') }}">
            <i class="icon-share-alt"></i> Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('articles_edit', { 'id': entity.id }) }}">
            edit
        </a>
    </li>
    <li>
        <form action="{{ path('articles_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn-primary btn-large">Delete</button>
        </form>
    </li>
</ul>

 {% endblock %}
