
 {% extends 'SiteAdminBundle::layout.html.twig' %}


 {% block content %}
{{ parent() }}

<h1>Comments</h1>

<table class="table table-striped" class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ entity.content }}</td>
        </tr>
        <tr>
            <th>Datecreated</th>
            <td>{{ entity.dateCreated|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('comments') }}">
            <i class="icon-share-alt"></i> Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('comments_edit', { 'id': entity.id }) }}">
            edit
        </a>
    </li>
    <li>
        <form action="{{ path('comments_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-primary btn-large">Delete</button>
        </form>
    </li>
</ul>
 {% endblock %}