
 {% extends 'SiteAdminBundle::layout.html.twig' %}


 {% block content %}
{{ parent() }}

<h1>Liste des Médias</h1>

{% include 'SiteAdminBundle:Slot:filter.html.twig' %}

{# display navigation #}
<div class="navigation">
    {{ pagination.render()|raw }}
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{{ pagination.sortable('Id', 'a.id')|raw }}</th>
            <th{% if pagination.isSorted('a.Legend') %} class="sorted"{% endif %}>{{ pagination.sortable('Legend', 'a.legend')|raw }}</th>
            <th>Image</th>
            <th>Visibilité</th>
            <th>Datecreated</th>
            <th>Dateupdated</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
            {% for entity in pagination %}
            <tr>
                <td><a href="{{ path('medias_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.legend|capitalize }}</td>
                   <td>
                     {% set img_path =  'uploads/administrateurs/'~user.id~'/'~entity.picture %}
                    {% if entity.extension == 'jpg' or  entity.extension == 'png' or entity.extension == 'gif' or entity.extension == 'jpeg' %}
                            {% if entity.picture and  img_path|file_exist %}
                                <a href="/uploads/administrateurs/{{user.id}}/{{entity.picture  }}" class="fancybox">
                                        <img src="/uploads/administrateurs/{{user.id}}/{{entity.picture|sizes('medium')}}"  width="300" height="200" class="img-polaroid">
                                    </a>
                            {% endif %}
                    {% else %}
                              <a target="_blank" href="/uploads/administrateurs/{{user.id}}/{{entity.picture  }}">
                                    <img src="/images/{{entity.extension}}.png">
                             </a>
                    {% endif %}
                          
                       </td>
                <td>{{ entity.active|validate('medias',entity.id)|raw }}</td>
                <td>{% if entity.dateCreated %}{{ entity.dateCreated|date('Y-m-d')|localizeddate('short', 'none') }}{% endif %}</td>
                <td>{% if entity.dateUpdated%}{{ entity.dateUpdated|date('Y-m-d')|localizeddate('full', 'none') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('medias_show', { 'id': entity.id }) }}"><i class="icon-search"></i>show</a>
                        </li>
                        <li>
                            <a href="{{ path('medias_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i> edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
              {% else %}
              <tr><td colspan="9">
                    <div class="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>Attention:</strong> Aucun Media cré.
                    </div>
                </td></tr>
              {% endfor %}
    </tbody>
        <thead>
        <tr>
            <th>{{ pagination.sortable('Id', 'a.id')|raw }}</th>
            <th{% if pagination.isSorted('a.Legend') %} class="sorted"{% endif %}>{{ pagination.sortable('Legend', 'a.legend')|raw }}</th>
            <th>Image</th>
            <th>Visibilité</th>
            <th>Datecreated</th>
            <th>Dateupdated</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>

<div class="navigation">
    {{ pagination.render()|raw }}
</div>

<ul>
    <li>
        <a class="btn btn-primary" href="{{ path('medias_new') }}">
           <i class="icon-pencil"></i> Ajouter un média
        </a>
    </li>
</ul>
 {% endblock %}