
 {% extends 'SiteAdminBundle::layout.html.twig' %}


 {% block content %}
{{ parent() }}

<h1>Ajouter un média</h1>

<form action="{{ path('medias_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-primary btn">Ajouter ce média</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('medias') }}">
            <i class="icon-share-alt"></i> Back to the list
        </a>
    </li>
</ul>
 {% endblock %}