
 {% extends 'SiteAdminBundle::layout.html.twig' %}


 {% block content %}
{{ parent() }}


<h1>Medias</h1>

<table class="table" class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Offerid</th>
            <td>{{ entity.offerId }}</td>
        </tr>
        <tr>
            <th>Restaurantid</th>
            <td>{{ entity.restaurantId }}</td>
        </tr>
        <tr>
            <th>Legend</th>
            <td>{{ entity.legend }}</td>
        </tr>
        <tr>
            <th>Picture</th>
            <td>{{ entity.picture }}</td>
        </tr>
        <tr>
            <th>State</th>
            <td>{{ entity.state }}</td>
        </tr>
        <tr>
            <th>Datecreated</th>
            <td>{{ entity.dateCreated|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Dateupdated</th>
            <td>{{ entity.dateUpdated|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('medias') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('medias_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('medias_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-primary btn-large">Delete</button>
        </form>
    </li>
</ul>
 {% endblock %}